<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/app.css' %}">
    <link rel="stylesheet" href="{% static './css/foundation.css' %}">
    
    <title>Document</title>
</head>
<body>

    <header class="top-bar">
        <div class="top-bar-left">
            <h2>
                {{ user }}
            </h2>
        </div>

        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <a href="/">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="/add_rec" >Новая запись</a>
                </li>
                <li>
                    <a href="/technic">Техника</a>
                </li>
                <li>
                    <a href="#">Отделения</a>
                </li>
                <li>
                    <a href="#">Отчеты</a>
                    <ul class="menu vertical">
                        <li><a href="#">Списанная техника</a></li>
                        <li>
                            <a href="#">
                                Отправленная техника
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </header>
    <!--
        <header class="grid-x grid-padding-x grid-padding-y">
        <h3 class="cell small-8">
            {{ user }}
        </h3>
        <div class="button-group no-gaps">
            <button class="button dropdown" type="button" data-toggle="dd-create">Работа с формами</button>
            <button class="button dropdown" type="button" data-toggle="dd-report">Отчеты</button>   
        </div>

        <div class="dropdown-pane" id="dd-report" data-dropdown >
            <button class="button clear" data-open="all-tec">Вся техника</button>
            <button class="button clear" data-open="all-dep">Все отделения</button>
            <button class="button clear" data-open="t-ret">Выданная техника</button>
        </div>
        <div class="dropdown-pane" id="dd-create" data-dropdown>

            {% if url != '/add_rec/' %}
            <a class="button clear" href = '/add_rec'>Новая отправка</a>
            {% else %}
            <a class="button clear" href="/add_rec" disabled>Новая отправка</a> 
            {% endif %}

            {% if url == '/add_tec/' %}
            <a class="button clear" href="/add_tec" disabled>Новая техника</a>
            {% else %}
            <a class = 'button clear' href = "/add_tec">Новая техника</a>
            {% endif %}

            {% if url == '/add_dep/' %}
            <a class="button clear" href="/add_dep" disabled>Новое отделение</a>
            {% else %}
            <a class="button clear" href="/add_dep">Новое отделение</a>
            {% endif %}
        </div>
        
    </header>
    -->
    <main class="">
        {% block content %}

        {% endblock %}
    </div>

<script src="{% static 'js/vendor/jquery.js'%}"></script>
<script src="{% static 'js/vendor/what-input.js'%}"></script>
<script src="{% static 'js/vendor/foundation.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>


</body>
</html>