<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/app.css' %}">
    <link rel="stylesheet" href="{% static './css/foundation.css' %}">
    
    <title>Document</title>
</head>
<body>

    <header class="top-bar">
        <div class="top-bar-left">
            <h2>
                {% if user.is_authenticated %}
                {{user}}
                {% else %}
                Unknow
                {% endif %}
            </h2>
        </div>

        <div class="top-bar-right">
            {% if user.is_authenticated %}
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <a href="/records">Отправленная техника</a>
                    <ul class="menu vertical">
                        <li>
                            <a href="/records/add">
                                Отправить технику
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/technic">Техника</a>
                </li>
                <li>
                    <a href="/departments">Отделения</a>
                </li>
                <li>
                    <a href="#">Отчеты</a>
                    <ul class="menu vertical">
                        <li><a href="#">Списанная техника</a></li>
                        <li><a href="/exc">
                        Вся Техника</a></li>
                        <li>
                            <a href="#">
                                Отправленная техника
                            </a>
                        </li>
                    </ul>
                    <li>
                        <a href="/logout">
                            Выйти
                        </a>
                    </li>
                </li>
            </ul>
            {% endif %}
        </div>

    </header>
    <main class="grid-container fluid">
        <div class="cell center">
            {% block content %}

            {% endblock %}
        </div>
        
    </div>

<script src="{% static 'js/vendor/jquery.js'%}"></script>
<script src="{% static 'js/vendor/what-input.js'%}"></script>
<script src="{% static 'js/vendor/foundation.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>


</body>
</html>