{% extends 'layout.html' %}

{% block content %}
 

{% endblock %}

 <div>
    <h3>
        Создать технику
    </h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="grid-container">
            <label for="" class="medium-6 cell">Название
                {{tform.name}}
        </label>
        <label for="" class="medium-6 cell">Тип
            {{ tform.t_type }}
        </label>
        <label for="" class="medium-6 cell">Отдел
            {{ tform.depart }}
        </label>
        <label for="" class="medium-6 cell">Номер
            {{ tform.serial }}
        </label>
        </div>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <a type="submit" class="secondary button" href="/">Вернуться</a>
        <button type="submit" class="success button">Сохранить</button>
    </form>

 </div>